* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.container {
  padding: 20px 15px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.settings-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #555;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.current-weather {
  text-align: center;
  padding: 30px;
}

.current-weather-icon {
  padding: 10px;
  max-width: 40%;
}

img {
  filter: contrast(200%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  /* min-width: 160px; */

  width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-link {
  color: #333;
  padding: 20px 15px 20px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  max-height: 60px;
}

#random-background-color {
  padding: 20px 15px 50px 10px;
}

.dropdown-link:hover {
  background-color: #e2ebf0;
}

img {
  width: 20px;
  position: relative;
  top: 5px;
}

.background-color-icon {
  top: 1px;
  width: 22px;
}

.email-icon {
  left: 2px;
  width: 22px;
  top: 1px;
}

.current-location-icon {
  left: 16px;
  width: 22px;
}
.show {
  display: block;
}
.settings-container,
.fa-search {
  padding: 10px 0;
  font-size: 20px;
  opacity: 0.9;
}

.fa-search {
  position: relative;
  left: -10px;
  top: 3px;
  color: #525252;
}

.search {
  position: relative;
  right: -32px;
  padding: 15px 40px 15px 20px;
  width: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  border: 3px solid #adb5bd;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  outline: none;
}

.search:focus {
  width: 200px;
}

.current-weather-desc {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.city {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 0 30px 0;
  font-weight: 300;
}

.last-updated {
  font-size: 12px;
  font-weight: normal;
  margin-top: -20px;
  padding-bottom: 20px;
  color: #000;
}

.current-temp {
  font-size: 30px;
}

.show-unit {
  display: inline;
}

.hide {
  display: none;
}

#fahrenheit-symbol {
  margin-left: -20px;
}
/* #celsius,
#fahrenheit {
  text-decoration: none;
  font-size: 20px;
  color: #525252;
} */

/* #celsius {
  padding-right: 15px;
}

.vertical-line {
  border-right: 2px solid #000;
  font-size: 15px;
}

#celsius:hover {
  padding: 5px 15px;
}
#fahrenheit {
  padding-left: 10px;
}

#fahrenheit:hover {
  padding: 5px 10px;
}

#celsius:hover,
#fahrenheit:hover {
  font-size: 25px;
  opacity: 0.5;
} */

.min-max-temp {
  font-weight: normal;
}

.main-list,
.sub-list {
  list-style: none;
  padding: 0;
}

.main-list {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 40px 10px;
}

.sub-list {
  line-height: 2;
  text-align: center;
  padding-bottom: 20px;
}

.sub-list:first-child {
  text-transform: uppercase;
  font-size: 14px;
}

.fas {
  opacity: 0.7;
}

footer {
  text-align: end;
  font-family: "Space Mono", monospace;
  padding-top: 40px;
}

.copyright,
.git-hub {
  text-transform: uppercase;
  font-size: 12px;
}

.git-hub {
  display: block;
  padding-top: 10px;
}

.fa-heart {
  color: #c71585;
  padding: 5px;
}

.fa-bolt {
  padding: 5px;
  color: yellow;
}

.linkedin-link,
.git-hub-link {
  text-decoration: none;
  color: #c71585;
  font-weight: 500;
}

.linkedin-link:hover,
.git-hub-link:hover {
  text-decoration: underline;
}

.linkedin-link:visited,
.git-hub-link:visited {
  opacity: 0.3;
  color: #170d7d;
}

.linkedin-link:active,
.git-hub-link:active {
  color: #ba55d3;
}

@media all and (min-width: 600px) {
  body {
    background-image: linear-gradient(
      to top,
      #dad4ec 0%,
      #dad4ec 1%,
      #f3e7e9 100%
    );
  }
  .container {
    padding: 20px 60px;
  }

  .dropdown a:hover {
    background-color: #f3e7e9;
  }

  .search:focus {
    width: 250px;
  }

  .current-weather-icon {
    padding: 20px;
  }

  .current-weather {
    padding: 20px;
  }
  .main-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 10px;
  }

  .sub-list {
    line-height: 2;
    text-align: center;
  }
  footer {
    padding-top: 70px;
  }
}

@media all and (min-width: 1200px) {
  body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  .container {
    padding: 60px 250px;
  }

  .dropdown a:hover {
    background-color: #fbc2eb;
  }

  .current-weather-icon {
    padding: 10px;
    width: 15%;
  }

  .search:focus {
    width: 350px;
  }
}
